.post_container{
    display:block;
    border: 1px solid black;
    background-color: antiquewhite;
    margin: 10px 20px 5px 10px;
    text-align: left;
    padding: 0 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post_title{
    color: rgb(197, 54, 54);
    border-bottom: 1px solid grey;
}

.post_content{
    height: 80px;
    border-bottom: 1px solid grey;
}

.post_rem_details{
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
}